
@font-face {
    font-family: samaritan;
    src: url(/fonts/magdacleanmono-regular.otf) format("opentype");
}

nav {

    width: 100%;
    height: 2%;
    margin-top: 1%;
    margin-bottom:1%;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    font-family: samaritan;
    font-size: 1.1em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: solid 1px rgb(0, 0, 0);
    margin: 1%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    padding-top: 3%;
}

nav ul li a:hover {
    border-bottom: solid 0.15em rgb(150, 0, 0);
    color: rgb(0, 0, 0);
}



*,  *:before, *:after {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 96.5%;
    width: 100%;
}

ul, ol {
    list-style-type: none;
}

a,
a:visited,
a:focus {
    text-decoration: inherit;
    font-weight: inherit;
    color: inherit;
}

.outer {
    background: black;
    background: url('/images/landing2.jpg');
    background-position: center center;
@include transform(scale(1.1));
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.overlay {
    background: rgba(black,0.6);
    height: 100%; width: 100%;
    position: absolute;
    z-index: 2;
    left:0;
    top:0;
    background-repeat: repeat;
}

h1 {
    font-family: samaritan;
    font-weight: 700;
    font-size: 7em;
    font-size: 8vw;
    text-transform: uppercase;
    position: relative;
}

h2 {
    font-family: samaritan;
    font-style: italic;
    font-weight: 300;
    font-size: 1.1em;
    font-size: 1.5vw;
}

.inner {
    position: relative;
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    text-shadow: 0 0 20px rgba(black,0.6);
}

button {
    font-family: samaritan;
    background: transparent;
    border: 2px solid white;
    margin: 5px;
    font-size: 0.8em;
    font-size: 1.5vw;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    animation: fadeIn 5s steps(60, end);
@include transition(all 0.4s ease);
}

button:hover {
    background: white;
    color: black;
}

ul#images li {
    display: inline-block;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

ul#images li:hover {
    opacity: 1;
}

ul#images li.active {
    opacity: 1;
}

ul#images li img {
    width: 100px;
    height: 50px;
    display: block;
    border-radius: 5px;
}


p{
    background: transparent;
    font-family: samaritan;
    font-size: 60px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
    animation: type 1.5s steps(60, end);
}

p:nth-child(2){
    font-size: 40px;
    animation: type2 2s steps(60, end);
}

p:nth-child(3){
    animation: fadeIN;
}

p a{
    color: lime;
    text-decoration: none;
}

span{
    animation: blink 1s infinite;
}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@keyframes fadeIn {
    1% { opacity: 0; visibility: hidden; }
    40% { opacity: 0; visibility: hidden;}
    100% { opacity: 1; visibility: visible;}
}

@keyframes blink{
    to{opacity: .0;}
}

::selection{
    background: black;
}